/* General Page Setup */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FDF6F2; /* Default background for desktop */
    overflow-y: auto; /* Allow scrolling on desktop */
}

/* Desktop Header */
#desktop-header {
    display: flex; /* Visible only on desktop */
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(to bottom, rgba(45, 45, 45, 1), rgba(45, 45, 45, 0));
    z-index: 3; /* Above animations */
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    box-sizing: border-box;
    color: #2d2d2d;
}

.header-content img {
    height: 60px;
    width: auto;
}

/* Animation Container */
#animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    background-color: #FDF6F2; /* Same as landing page background */
}

/* Pulsating Logo */
#pulse-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px; /* Adjust size for desktop */
    height: 350px;
    z-index: 2;
}

/* Main Content */
#content {
    display: none; /* Hidden during animation */
    position: relative;
    z-index: 3;
    padding: 20px;
    color: #2D2D2D;
    background-color: #FDF6F2; /* Correct background color */
}
/* Hide logo in desktop */
#logo-mingel {
    display: none; /* Hidden on desktop */
}

/* Tagline */
.tagline {
    font-size: 50px;
    font-weight: 600;
    color: #2D2D2D;
    margin: 0;
}

.sub-tagline {
    font-size: 30px;
    font-weight: 400;
    color: #FC176A;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Hide App Store and Play Store Buttons */
.buttons {
    display: none;
}

/* Scroll Section */
#scroll-section {
    display: block;
    background-color: #2D2D2D;
    height: 100vh;
}
